@use '../../styles/variables' as var;
@use '../../styles/mixins';
@use '../../styles/mobile' as media;

.home {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;

  .header {
    min-height: 100px;
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: fit-content;
      &:hover {
        cursor: pointer;
        filter: brightness(110%);
        transition: all 0.2s;
      }
      @include media.mobile {
        height: 40px;
      }
    }

    .navbar {
      display: flex;
      align-items: center;
      @include media.mobile {
        display: none;
          &.navbarMobile {
            display: block;
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100vw;
            height: fit-content;
            flex-direction: column;
            background-color: white;
            box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.329);
          }
      }

      .nav {
        display: flex;
        align-items: center;
        @include media.mobile-and-tablet {
          flex-direction: column;
        }
        @include media.tablet {
          display: none;
          &.navMobile {
            display: block;
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100vw;
            height: fit-content;
            background-color: white;
            box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.329);
          }
        }

        .navItem {
          list-style: none;
          margin-right: 1rem;
          @include media.mobile-and-tablet {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 1rem 0;
            background-color: white;
            &:hover {
              cursor: pointer;
              filter: brightness(97%);
              transition: all 0.2s;
              .navLink {
                color: var.$primary-color;
                transition: all 0.2s;
              }
            }
          }

          .navLink {
            text-decoration: none;
            color: black;
            letter-spacing: 1px;
            &:hover {
              color: var.$primary-color;
              transition: all 0.2s;
            }
          }
        }
      }

      .navbarButtons {
        @include media.mobile {
          display: flex;
          flex-direction: column;
          justify-content: conter;
          align-items: center;
        }
        .navbarBtn {
          margin-left: 1rem;
          @include media.mobile {
            width: 80%;
            margin: 0.5rem auto;
          }
        }
      }
    }
    
    .menuButton {
      display: none;
      background-color: white;
      font-size: 2rem;
      padding: 5px;
      border-radius: 10px;
      &:hover {
        filter: brightness(90%);
      }
      @include media.mobile-and-tablet {
      display: block;
        margin-left: 1rem;
      }
    }
  }

  .main {
    display: flex;
    width: 80%;
    margin: 3em auto;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    @include media.mobile {
      flex-direction: column;
      text-align: center;
      row-gap: 2rem;
      margin: 1em auto;
    }

    .hero {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;
      animation: delay-show-left 2s ease-in-out;

      .heroHeader {
        font-size: clamp(2rem, 1rem + 3vw, 3rem);
      }

      .heroContent {
        font-size: clamp(1.2rem, 3vw, 1.5rem);
      }

      .heroBtn {
        font-size: clamp(1rem, 2vw, 1.2rem);;
      }
    }

    .landingImg {
      width: clamp(250px, 50vw, 450px);
    }
  }

  .stats {
    min-height: 200px;
    width: 100%;
    margin-top: 1rem;
    background: linear-gradient(135deg, var.$primary-color, var.$coprimary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @include media.mobile {
      flex-direction: column;
      row-gap: 2rem;
    }

    .stat {
      color: white;
      margin: 0 5rem;
      animation: delay-show-bottom 1s ease-in-out;
      text-align: center;

      .statNumber {
        font-size: clamp(2rem, 1rem + 3vw, 3rem);
      }
    }
  }

  .footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes delay-show-bottom {
  0% {
    transform: translateY(150%);
    color: transparent;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes delay-show-left {
  0% {
    transform: translateX(-150%);
    color: transparent;
  }
  100% {
    transform: translateY(0);
  }
}